<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Delete</title>
    <link rel="stylesheet" href="stylesheets/home.css" defer>
  </head>
  <body>
    <form action="/removed" method="post">
    <label for="delete">Delete a Tokimon using id number</label>
    <input type="number" name="delete1" id="delete" placeholder="ID" required>
    <br>
    <button class="deletebutton" id="deleteb" type="submit">delete</button>
    </form>
    <br>
    <button type="button" class="button4" id="backbutton">
    <p><a href="/">back</a></p>
    </button>
  </body>
</html>
