<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Tokimon Homepage</title>
    <link rel="stylesheet" href="stylesheets/home.css" defer>
    <script src="tokimon.js" defer></script>
  </head>
  <body>
    <button type="button" class="button1" id="addButton">
    <p><a href="/add">Add Tokimon</a></p>
    </button>
    <button type="button" class="button2" id="displayButton">
    <p><a href="/display">display all Tokimons</a></p>
    </button>
    <button type="button" class="button5" id="deleteButton">
    <p><a href="/delete">Delete a Tokimon</a></p>
    </button>
  </body>
</html>
