<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/stylesheets/home.css">
    <title>Tokimon added!</title>
  </head>
  <body>
    submitted!
  </body>
  <button type="button" class="button3" id="displayButton">
  <p><a href="/">OK</a></p>
  </button>
</html>
